{% extends 'base.html' %}

{% block content %}
    <h2>Customer Details</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ customer.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ customer.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ customer.state }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ customer.zipcode }}</td>
            </tr>
            <tr>
                <th>Service Provider</th>
                <td>{{ customer.service_provider }}</td>
            </tr>
            <!-- Add other fields as necessary -->
        </tbody>
    </table>
    <div>
        {% comment %} <a href="{% url 'edit_customer' pk=pk %}" class="btn btn-primary">Edit Customer</a>
        <a href="{% url 'add_work_order' pk=customer.id customer_id=customer.id %}" class="btn btn-primary">Add Work Order</a> {% endcomment %}
        {% comment %} <a href="{% url 'add_sale' customer_id=customer.id %}" class="btn btn-primary">Add Sale</a> {% endcomment %}
    </div>
{% endblock %}
